<div>
  <h1 class="heading">Basic Form</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Enter Task</mat-label>
    <input matInput placeholder="ex: review project" #task type="text" />
    <button mat-flat-button color="primary" (click)="addTak(task.value)">
      Add
    </button>
  </mat-form-field>

  <mat-list *ngFor="let item of list">
    <mat-list-item>
      <h3 matListItemTitle>item id: {{ item.id }}</h3>
      <p matListItemLine>
        <span>{{ item.name }}</span>
      </p>
      <mat-icon matListItemIcon (click)="deleteItem(item.id)">delete</mat-icon>
    </mat-list-item>
  </mat-list>
  <!-- //<mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon> -->

  <div class="container">
    <div *ngFor="let item of data">
      <app-child [item]="item"></app-child>
    </div>
  </div>
</div>
